.mainApp{
    position:fixed;
    /* max-height: 38vh; */
    top: 0;
    /* bottom: 0; */
    right: 0;
    left: 0;
    padding-top: 30px;
    /* border: 2px solid red; */
    z-index: 999;
    display: flex;
    gap: 28px;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    color: white;
    /* overflow: scroll; */
}

.mainTitle{
    /* border: 2px solid black; */
    width : 100%;
    display: flex;
    justify-content: center;
}

.mainTitle > p{
    display: flex;
    justify-content: center;
}



.inputDiv{
    /* border: 2px solid black; */
    /* border-right: 10px solid red; */
    /* position: absolute; */
    width: 100%;
    /* flex: 1 */
}

/* .inputDivContainer{
    max-width: 45%;
    margin-inline: auto;
    border: 2px solid blue;
    display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */

.inputDiv > form{
    max-width: 45%;
    margin-inline: auto;
    display: flex; 
    /* background-color: white; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 10px;
    /* max-width: 100%; */
    /* border: 2px solid blue */
}

 .inputDiv >form > input{
    min-width: 0;
    /* margin-inline: auto;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;*/
    flex: 1 !important;
    border : 0;
    /* flex: 1;  */
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 

.inputDiv > form >input:focus{
    outline: none;
}

.submitButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
    
}

.submitButton:hover{
    background-color: hsl(0, 0%, 17%);
}

.detailsDisplay{
    /* border: 2px solid red; */
    width: 100%;
}

.detailsDisplay::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.detailsDisplay {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.detailsDisplayContainer{
    /* align-self: flex-end; */
    max-width: 70%;

    /* border: 2px solid black; */
    background-color: white;
    overflow: scroll;
    border-radius: 15px;
    margin-inline: auto;
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.detailsDisplayContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.detailsDisplayContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.ipAddress, .location, .timeZone, .isp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ipAddress, .location, .timeZone{
    border-right: 0.2px solid #969696;
}



.detailTitle{
    color: #969696;
    font-size: 15px;
    font-weight: 500;
    text-transform:uppercase;
}

.detailStat{
    height: 100%;
    color: black;
    font-weight: 400;
    font-size: 28px;
    word-wrap: break-word;
}

@media only screen and (max-width:426px){
    .inputDiv > form{
        max-width: 100%;
        margin-inline: 20px;
    }

    /* .detailsDisplay{
        padding-inline: 20px;
    } */

    .detailsDisplayContainer{
        align-self: flex-end;
        max-width: 100%;
        margin-inline: 20px;
        display: flex;
        flex-direction: column;
        --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .detailsDisplayContainer > div{
        align-items: center;
        justify-content: center;
    }

    .ipAddress, .location, .timeZone{
        border-right: 0px solid #969696;
    }

    .detailTitle{
        font-size: 12px;
        font-weight: 700;
        line-height: 0px;
    }

    .detailStat{
        font-size: 18px;
        font-weight: 600;

    }

    #utc{
        display: none;
    }
}


